.message {
    display: grid;
    margin-bottom: 8px;
    align-items: center;
    width: max-content;
    height: max-content;

}
.username {
    font-size: 10px;
    margin: 0px 43px;
}
.messageText{
    text-align: center;
    font-size: 15px;
}
.dateSent {
    font-size: 10px;
    margin: 0px 43px;
}

.userData {
    margin: 0 35px;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 12px;
}