.container {
  display: grid;
  grid-template-columns: 21rem 79rem;
  grid-template-rows: 49rem;
  justify-content: center;
}

.inputMessageContainer {
  background-color: yellow;
  border-top: 1px solid #E0E0E0;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}


.chatList {
  overflow: auto;
}